.grid {
    margin-bottom: 6rem;
    .title-filter {
        padding-left: 5rem;
        padding-top: 5rem;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.04em;
    }
    .load {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 36px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 8rem;
    padding: 5rem;
    .container {
        a {
            text-decoration: none;
            color: black;
        }
    }
    .images {
        height: 450px;
        &:hover {
            .main{
                animation-name: rotate;
                animation-duration: 0.2s;
                animation-timing-function: linear;
                animation-fill-mode: forwards; 
                // opacity: 0;
                z-index: 10;
            }
            .hidden {
                // opacity: 1;
                animation-name: slideUp;
                animation-duration: 0.3s;
                animation-timing-function: linear;
                animation-fill-mode: forwards; 
            }
        }
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .main{
            position: relative;
            z-index: 10;
            animation-name: rotateBack;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-fill-mode: forwards; 
        }
        .hidden {
            z-index: 0;
            position: absolute;
            // opacity: 0;
            top: 0;
            left: 0.5%;
            transform: translate(0%, 10%);
            animation-name: slideDown;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: forwards; 
        }
    }
    .text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;
        h3 {
            font-size: 32px;
            line-height: 130%;
            letter-spacing: -0.04em;
            font-weight: 400;
            // width: 70%;
        }
        p {
            text-align: end;
            width: 45%;
            // margin-left: 1rem;
            font-size: 24px;
            line-height: 185%;
            font-weight: 300;
        }
    }
}

.details {
    background-color: #232323;
    color: white;
    min-height: 100vh;
    // position: absolute;
    z-index: 30;
    transform: translate(0%, 10%);
    flex-direction: column;
    width: 100%;
    padding-left: 5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-bottom: 5rem;
    .title {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        padding-right: 5rem;
        h1 {
            font-size: 48px;
            font-weight: 400;
            margin-bottom: 2rem;
        }
        img {
            height: 30px;
            cursor: pointer;
        }
    }
    .text {
        width: 50%;
        margin-bottom: 4rem;
        h3 {
            color: #FFFFFF;
            opacity: 0.5;
            font-size: 26px;
            line-height: 140%;
        }
    }
    .images {
        display: flex;
        overflow: hidden;
        img {
            display: inline-block;
            width: 30%;
            height: 600px;
            object-fit: cover;
        }
        .cov {
            width: 70%;
            margin-right: 4rem;
        }

    }
}


// Animation
@keyframes slideUp {
    from {
        transform: translateY(10);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 0.8;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 0.8;
    }
    to {
        transform: translateY(10);
        opacity: 0;
    }
}
@keyframes rotate {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(5deg);}
}
@keyframes rotateBack {
    from {transform: rotateZ(5deg);}
    to {transform: rotateZ(0deg);}
}
